{% extends "base.html" %}
{% load static %}

{% block title %}AmetCare{% endblock %}

{% block content %}
  <footer class="nav1">
    <a class="but" href="http://127.0.0.1:8000/allergy">
      <img class="back_img" src="{% static 'img/yes.png' %}">
    </a>
    <a class="but" href="http://127.0.0.1:8000/main">
      <img class="back_img" src="{% static 'img/no.png' %}">
    </a>
  </footer>
  <a class="back" href="http://127.0.0.1:8000/start2">
    <img src="{% static 'img/arrback.png' %}">
  </a> 
  <div class="container">
    <div id="slText" width="5em">Есть ли у вас аллергии?</div>
  </div>
{% endblock %}
