{% extends "base.html" %}
{% load static %}

{% block title %}AmetCare{% endblock %}

{% block content %}
  <footer class="nav1">
    <button id="footer-register-button" type="button">
      <img src="{% static 'img/next.png' %}" class="back_img" onclick="submitForm()">
    </button>
  </footer>
  <a href="http://127.0.0.1:8000/userinfo" class="back">
    <img src="{% static 'img/arrback.png' %}">
  </a>
  <div class="container">
    <div id="slText">Выберите ваши личные предпочтения</div>
    <div class="scrollable-container">
      <form id="registration-form" method="post" action="indpref">
        {% csrf_token %}
        <div class="checkbox-container">
          {% for choice in form.preferences %}
          {{ choice }}
          <span class="checkmark1">{{% choice.1 %}}</span>
          <span class="checkmark2">df</span>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
  <script>
    function submitForm() {
      document.getElementById('registration-form').submit();
    }
  </script>
{% endblock %}
