{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>AmetCare</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
  <footer class="nav1">
    <button id="footer-register-button" type="button">
      <img src="{% static 'img/next.png' %}" class="back_img" onclick="submitForm()">
    </button>
  </footer>
  <a href="http://127.0.0.1:8000/userinfo" class="back">
    <img src="{% static 'img/arrback.png' %}">
  </a>
    <div class="container">
      <div id="slText">Выберите ваши личные предпочтения</div>
      <div class="scrollable-container">
        <form id="registration-form" method="post" action="indpref">
          {% csrf_token %}
          <div class="checkbox-container">
            {% for choice in form.preferences %}
              <label class="checkbox-label">
                <input type="checkbox" name="{{ choice.name }}" value="{{ choice.value }}">
                <span class="checkmark"></span>
                {{ choice.label }}
              </label>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
    
  

  <script>
    function submitForm() {
      document.getElementById('registration-form').submit();
    }
  </script>

</body>
</html>
