{% extends "base.html" %}
{% load static %}

{% block title %}AmetCare{% endblock %}

{% block content %}
  <div class="container">
    <img class="center-image" src="{% static 'img/main_logo.png' %}">
    <p class="center-text">Виртуальная забота о вашем питании</p>
  </div>
  <script>
    function redirectToSecondPage() {
      setTimeout(function() {
          window.location.href = "http://127.0.0.1:8000/start2";
      }, 2000);
    }
    window.onload = redirectToSecondPage;
  </script>
{% endblock %}
