{% extends "base.html" %}
{% load static %}

{% block title %}AmetCare{% endblock %}
  <footer class="nav1">
    <button id = "registration-button" type="button">
      <img class= "back_img" src="{% static 'img/next.png' %}" onclick="submitForm()">
    </button>
  </footer>
  <a class="back" href="http://127.0.0.1:8000/register">
    <img src="{% static 'img/arrback.png' %}">
  </a>
  <div class="container">
    <div id="slText">Основная информация</div>
    <form class="registration-form1" action="/userinfo" method="POST" id="registration-form1">
      {% csrf_token %}
      {{ form.gender.label_tag }}
      {{ form.gender }}
      <br><br>
      {{ form.weight.label_tag }}
      {{ form.weight }}
      <br><br>
      {{ form.height.label_tag }}
      {{ form.height }}
      <br><br>
      {{ form.age.label_tag }}
      {{ form.age }}
      <br><br>
      {{ form.task.label_tag }}
      {{ form.task }}
      <br><br>
    </form>
  </div>
  <script>
    function submitForm() {
        document.getElementById('registration-form1').submit();
    }
  </script>
{% endblock %}
