{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>AmetCare</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
  <footer class="nav1">
    <button id = "registration-button" type="button">
      <img src="{% static 'img/next.png' %}" class= "back_img" onclick="submitForm()">
    </button>
  </footer>
  <a href="http://127.0.0.1:8000/register" class="back">
      <img src="{% static 'img/arrback.png' %}">
  </a> 

  <div class="container">
    <div id="slText">Основная информация</div>
  <form id = "registration-form1" action="/userinfo" method="POST" class="registration-form">
      {% csrf_token %}
        {{ form.gender.label_tag }}
        {{ form.gender }}
        <br><br>
        {{ form.weight.label_tag }}
        {{ form.weight }}
        <br><br>
        {{ form.height.label_tag }}
        {{ form.height }}
        <br><br>
        {{ form.age.label_tag }}
        {{ form.age }}
        <br><br>
        {{ form.task.label_tag }}
        {{ form.task }}
        <br><br>
  </form>
  </div>
  <script>
    function submitForm() {
      document.getElementById('registration-form1').submit();
    }
    </script>
</body>
</html>