@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
body
{
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.content 
{
  flex: 1;
  padding: 20px;
}
.container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.back
{
  margin-top: 50px;
  margin-left: 50px;
}

.center-image 
{
  max-width: 40%;
  height: auto;
  margin-top:600px;
}
.back_img
{
  width: 50%;
  height: 50%;
}

@media screen and (max-height: 720px) and (max-width: 360px) {
  .center-container img {
      max-width: 90%; /* Увеличьте размер изображения для мобильных устройств */
  }
}

p.center-text 
{
  text-align: center;
  color: rgba(43, 198, 160, 1);
  font-size: 50px; 
  width: 12em;
  margin-top: 100px;
  font-weight: 700;

}

.navigation {
  background-color: rgba(43, 198, 160, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 20px; /* Закругление верхнего левого угла */
  border-top-right-radius: 20px;  position: fixed;
  bottom: 0px; /* Отступ от нижнего края */
  left: 0;
  right: 0;
  height: 8%;
}

.buts
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#title
{
  color: rgba(43, 198, 160, 1);
  font-size: 80px;
  padding-top: 58px; 
  padding-left: 58px;
  font-weight: 900;
}




.registration-form label 
{
  display: block;
  font-size: 40px;
  font-weight: 700;
  color: rgba(89, 197, 235);
  
}


.registration-form input
{
  font-weight: 900;
  color: rgba(43, 198, 160, 1);
  width: 100%;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  border: none; /* Убираем границу */
  border-bottom: 5px solid rgba(89, 197, 235); /* Добавляем нижнюю линию */
  background: transparent; /* Прозрачный фон */
  outline: none; /* Убираем контур фокуса */
  border-radius:20px;
}
.registration-form select {
  font-weight: 900;
  color: rgba(43, 198, 160, 1);
  width: 100%;
  height:150px;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 5px solid rgba(89, 197, 235);
  background: transparent;
  outline: none;
}
.registration-form select option {
  font-weight: 200;
  font-size: 20px; 
}

button[type="button"] 
{
  background-color: transparent; 
  border: none; 
  cursor: pointer;
}


#slText
{
  color: rgba(43, 198, 160, 1);
  font-size: 58px;
  margin-bottom: 200px;
  margin-top: 150px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12em;
  text-align: center;
}


.nav1 {
  background-color: rgba(89, 197, 235, 0.5);
  display: flex;
  justify-content: center; /* Выравниваем элементы по горизонтали по центру */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  text-align: center; /* Выравнивание текста по центру */
}
.nav1 a img {
  transform: scale(1.3); /* Увеличьте размер картинки в 1.5 раза */
}
#registration-form1 label
{
  color:rgba(89, 197, 235);
  font-size: 45px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}
#registration-form1 input,
#registration-form1 select
{
  font-weight: 400;
  color: rgba(43, 198, 160, 1);
  width: 100%;
  height:80px;
  padding: 10px;
  font-size: 45px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 5px solid rgba(89, 197, 235);
  background: transparent;
  outline: none;
  font-family: 'Nunito', sans-serif;
}


#registration-form1 option
{
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

#registration-form label
{
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}


.scrollable-container {
  max-height: 900px; 
  width: 80%;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  color:rgba(89, 197, 235);
  font-size: 45px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
.checkbox-container {
  display: flex;
}




.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;

}



.card {
  width: 800px;
  height: 300px;
  background-color: rgba(89, 197, 235);
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;
  padding-left: 30px;;
  font-size: 40px;
  margin: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
  border-radius: 50px;
}

.card1 {
  width: 800px;
  height: 300px;
  background-color: rgba(43, 198, 160, 1);
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;
  padding-left: 30px;;
  font-size: 40px;
  margin: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
  border-radius: 50px;
}
.card2 {
  width: 800px;
  height: 300px;
  background-color: rgba(49, 218, 117, 1);
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;
  padding-left: 30px;;
  font-size: 40px;
  margin: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
  border-radius: 50px;
}
.buttons 
{
  padding: 75px;
  justify-content: center;
  align-items: center;

}
.card img {
  width: 200px; /* Установите желаемую ширину */
  height: 200px; /* Установите желаемую высоту */
  display: block; /* Помещаем изображение под текстом */
  margin-top: 10px;
}
.card1 img {
  width: 200px; /* Установите желаемую ширину */
  height: 200px; /* Установите желаемую высоту */
  display: block; /* Помещаем изображение под текстом */
  margin-top: 10px;
}
.card2 img {
  width: 200px; /* Установите желаемую ширину */
  height: 200px; /* Установите желаемую высоту */
  display: block; /* Помещаем изображение под текстом */
  margin-top: 10px;
}
#card_text
{
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-bottom: 150px;
  font-family: 'Nunito ExtraBold'; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Предотвращаем перекрытие текста и изображения */
}
.card-details {
  /* Стили для контейнера с дополнительными данными (время приготовления и калорийность) */
  display: flex; /* Включаем flexbox */
  flex-direction: column; /* Устанавливаем направление столбца для текста */
  justify-content: center; /* Выравниваем текст по центру вертикально */
  margin-left: 10px; /* Добавляем отступ между изображением и текстом */
}

.prevButton img,
.nextButton img {
  width: 5px; /* Уменьшаем максимальную ширину изображений */
  height: 5px; /* Уменьшаем максимальную высоту изображений */
}